{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">

{% comment %} {%- assign linkedin_link = settings.social_links.linkedin[country] | default: settings.social_linkedin_link %}
{%- assign facebook_link = settings.social_links.facebook[country] | default: settings.social_facebook_link %}
{%- assign instagram_link = settings.social_links.instagram[country] | default: settings.social_instagram_link %} {% endcomment %}

{% comment %} <p>Country: {{ country }}</p> {% endcomment %}
  {%- if settings.social_links.linkedin != blank -%}
    <li class="list-social__item">
      {%- assign country = localization.country %}
      {% case country %}
      {% when "United States" %}
        {%- assign linkedin_link = settings.social_links.linkedin.us %}
     
        <a href="{{ linkedin_link }}" class="link list-social__link">
          {%- render 'icon-linkedin' -%}
          <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
        </a>
        
      {% when "Chile" %}
        {%- assign linkedin_link = settings.social_links.linkedin.cl %}
        <a href="{{ linkedin_link }}" class="link list-social__link">
          {%- render 'icon-linkedin' -%}
          <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
        </a>

      {% when "Spain" %}
      {%- assign linkedin_link = settings.social_links.linkedin.es %}
      <a href="{{ linkedin_link }}" class="link list-social__link">
        {%- render 'icon-linkedin' -%}
        <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
      </a>
      {% else %}
        {%- assign linkedin_link = settings.social_links.linkedin.us %}
        <a href="{{ linkedin_link }}" class="link list-social__link">
          {%- render 'icon-linkedin' -%}
          <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
        </a> 
      {% endcase %}
      

    </li>

  {% endif %}

  {%- if settings.social_links.facebook != blank -%}
    {%- assign country = localization.country %}
      {% case country %}
      {% when "United States" %}
        {%- assign facebook_link = settings.social_links.facebook.us %}
      {% when "Chile" %}
        {%- assign facebook_link = settings.social_links.facebook.cl %}
      {% when "Spain" %}
        {%- assign facebook_link = settings.social_links.facebook.es %}
      {% else %}
        {%- assign facebook_link = settings.social_links.facebook.us %}
      {% endcase %}
    <li class="list-social__item">
      <a href="{{ facebook_link }}" class="link list-social__link">
        {%- render 'icon-facebook' -%}
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_links.instagram != blank -%}

    {% case country %}
    {% when "United States" %}
      {%- assign instagram_link = settings.social_links.instagram.us %}
    {% when "Chile" %}
      {%- assign instagram_link = settings.social_links.instagram.cl %}
    {% when "Spain" or "ES" %}
      {%- assign instagram_link = settings.social_links.instagram.es %}
    {% else %}
      {%- assign instagram_link = settings.social_links.instagram.us %}
    {% endcase %}
    <li class="list-social__item">
      <a href="{{ instagram_link }}" class="link list-social__link">
        {%- render 'icon-instagram' -%}
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
        {%- render 'icon-youtube' -%}
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
        {%- render 'icon-tiktok' -%}
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
        {%- render 'icon-twitter' -%}
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        {%- render 'icon-pinterest' -%}
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        {%- render 'icon-snapchat' -%}
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        {%- render 'icon-tumblr' -%}
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        {%- render 'icon-vimeo' -%}
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
