
{%- style -%}
.product-carousel {
    display: flex; 
    overflow: hidden; 
    white-space: nowrap;
    padding: 3rem 0px;
    position: relative;
}

.product-carousel-imgs {
    display: inline-flex;
    white-space: nowrap;
    animation: marquee 200s linear infinite;
}
.quick-buy {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-family: Ciutadella Medium, Arial, Helvetica, sans-serif;
    background-color: #4E5B31;
}
.carousel-img-div:hover .quick-buy {
    display: block;
}
.carousel-img-div {
    display: inline-block;
    height: 250px;
    margin-right: 10px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

}
.carousel-img-div img {
    width: auto;
    height: 250px;
    max-width: 200px;
}
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
   
@media screen and (max-width: 480px) {
    .carousel-img-div img {
        /* max-height: 150px; */
    }
    .main-prods-image {
        /* max-height: 150px; */
    }
}

@media screen and (min-width: 1000px) {
.carousel-img-div {
    /* max-height: 200px; */
    max-width: 200px;
}
.slick-slide img {
    /* width: 200px; */
    /* max-width: 200px; */
}
.carousel-img-div {
    
    /* max-width: 200px; */
}
}


{%- endstyle -%}

<div class="product-carousel">
    <div class="product-carousel-imgs">
        {% comment %} {% assign main_collection = 'main-collection' %} {% endcomment %}
        {% assign products = collections[section.settings.selected_collection].products %}
        <!-- First Loop -->
        {% for product in products %}
            {% if product.images.size > 0 %}
                <div class="carousel-img-div" >
                    <a href="{{ product.url }}" class="product-link">
                        <img src="{{ product.images.first | img_url: 'medium' }}" alt="{{ product.title }}" class="main-prods-image" width="100%" height="auto">            
                    </a>
                    <button class="quick-buy" onclick="window.location.href='{{ product.url }}'">
                        {{  section.settings.button_label }}
                    </button>
                </div>
            {% endif %}
        {% endfor %}
        <!-- Duplicate -->
        {% for product in products %}
            {% if product.images.size > 0 %}
                <div class="carousel-img-div" >
                    <a href="{{ product.url }}" class="product-link">
                        <img src="{{ product.images.first | img_url: 'medium' }}" alt="{{ product.title }}" class="main-prods-image" width="100%" height="auto">            
                    </a>
                    <button class="quick-buy" onclick="window.location.href='{{ product.url }}'">
                        {{  section.settings.button_label }}
                    </button>
                </div>
            {% endif %}
        {% endfor %}

    
    </div>
</div>

{% javascript %}
// $(document).ready(function() {
    // var $carousel = $('.product-carousel-imgs');
    // var slideCount = $carousel.find('.carousel-img-div');
    // for (var i = 0; i < slideCount; i++) {
    //     $carousel.find('.carousel-img-div').eq(i).clone().appendTo($carousel);     
    // }


    // start here
    // $carousel.slick({
    //     infinite: true,
    //     autoplay: true,
    //     autoplaySpeed: 2000,
    //     slidesToScroll: 1,
    //     slidesToShow: 1,
    //     centerMode: false,
    //     centerPadding: '0px', 
    //     responsive: [ 
    //         {   
    //             breakpoint: 1200,
    //             settings: {
    //                 slidesToShow: 5,
    //                 slidesToScroll: 1,
    //                 arrows: false,
    //                 centerMode: false
                  
    //             }
    //         }, 
    //         {   
    //             breakpoint: 1024,
    //             settings: {
    //                 slidesToShow: 4,
    //                 slidesToScroll: 1,
    //                 arrows: false             
    //             }
    //         }, 
    //         {   
    //             breakpoint: 768,
    //             settings: {
    //                 slidesToShow: 3,
    //                 slidesToScroll: 1,
    //                 arrows: false                  
    //             }
    //         }, 
    //         {   
    //             breakpoint: 480,
    //             settings: {
    //                 slidesToShow: 2,
    //                 slidesToScroll: 1,
    //                 arrows: false

    //             }
    //         }
    //     ]
    // });


// });
{% endjavascript %} 

{% schema %}
{ 
    "name": "Product Carousel",
    "settings": [
        {
            "type": "collection",
            "id": "selected_collection",
            "label": "Select Collection"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
            "default": "Buy Now"
        }
    ],  
    
    "presets": [
        {
            "name": "Default",
            "category": "Custom"
        }
    ]
}
    
{% endschema %}